{% extends 'base.html.twig' %}

{% block title %}Categories de séries!{% endblock %}

{% block body %}
<h1>Categories de séries</h1>
{% for categorie in series_categories %}
    {{ dump(categorie['category_name']) }}
{% endfor %}
{% endblock %}
